
@font-face {
    font-family: 'Gotham';
    src: url('GOTHAMRM.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
	margin:0px;
	padding:0px;
}

*:focus { outline:none; }

::-webkit-scrollbar { visibility: hidden; }

body {
    margin: 0px;
    padding: 0px;
  	font-family: 'Arial Regular', Helvetica;
  	color: #ffffff;
  	background-color: transparent;
	overflow: hidden;
}

.hidden {
	display: none;
}

canvas {
	position: absolute;
	top: 0px;
	left: 0px;
	background-color: transparent;
	opacity: 1.0;
	overflow: hidden;
}

.fs {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
}

.foreground {
	z-index: 21;
}

/* loading screen */

.loading {
	position: absolute;
	bottom: 15%;
	left: 0%;
	width: 100%;
	height: 15%;
	text-align: center;
	font-family: 'Gotham';
	font-size: 64px;
}



/* splash screen */

.splashScreenBG {
	background: url('../gfx/01_MSMX_splash/01_MSMX_splash_bg.jpg');
}

.logo_splash {
	background: url('../gfx/01_MSMX_splash/01_MSMX_splash_LOGOa.png');
}

.overlay_splash {
	background: url('../gfx/01_MSMX_splash/01_MSMX_splash_elementos.png');
}

.arrow_splash {
	position: absolute;
	bottom: 0%;
	right: 0%;
	width: 349px;
	height: 309px;
	background: url('../gfx/01_MSMX_splash/seta.png');
	z-index: 21;
	-webkit-animation-name: bouncearrow; 
	-webkit-animation-duration: 1s; 
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in;
    -webkit-animation-direction: alternate;
	-moz-animation-name: bouncearrow; 
	-moz-animation-duration: 1s; 
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: ease-in;
    -moz-animation-direction: alternate;
}

.arrow_splash:hover {
	cursor: pointer;
}

@-webkit-keyframes bouncearrow {
    from {-webkit-transform: translate(0px);}
    to {-webkit-transform: translate(50px);}
}

@-moz-keyframes bouncearrow {
    from {-moz-transform: translate(0px);}
    to {-moz-transform: translate(50px);}
}




/* track selection screen */

.selectionScreen {
	background: url('../gfx/02_MSMX_escolha/02_MSMX_escolha_BGd.jpg');
	font-family: 'Gotham';
	font-size: 48px;
  	text-shadow: 0 0 1em black, 0 0 2em black;
}

.logo_selection {
	background: url('../gfx/02_MSMX_escolha/02_MSMX_escolha_LOGOa.png');
}

/*.logo_topleft {
	position: absolute;
	top: 4%;
	left: 2%;
	width: 581px;
	height: 411px;
	background: url('../gfx/Logo_MusicX.png');
}*/

.selection_0 {
	position: absolute;
	bottom: 300px;
	left: 20%;
	z-index: 21;
}

.selection_1 {
	position: absolute;
	bottom: 200px;
	left: 20%;
	z-index: 21;
}

.selection_2 {
	position: absolute;
	bottom: 100px;
	left: 20%;
	z-index: 21;
}

.arrow_selection_0 {
	position: absolute;
	bottom: 176px;
	left: 0px;
	width: 349px;
	height: 309px;
	background: url('../gfx/01_MSMX_splash/seta.png');
}

.arrow_selection_1 {
	position: absolute;
	bottom: 76px;
	left: 0px;
	width: 349px;
	height: 309px;
	background: url('../gfx/01_MSMX_splash/seta.png');
}

.arrow_selection_2 {
	position: absolute;
	bottom: -24px;
	left: 0px;
	width: 349px;
	height: 309px;
	background: url('../gfx/01_MSMX_splash/seta.png');
}



/* instructions screen */

.overlay_instructions {
	background: url('../gfx/03_MSMX_instrucoes/03_overlay.png');
}

.instrument0_instructions {
	position: absolute;
	top: 8%;
	left: 2%;
	width: 461px;
	height: 693px;
}

.instrument1_instructions {
	position: absolute;
	top: 8%;
	left: 27%;
	width: 461px;
	height: 693px;
}

.instrument2_instructions {
	position: absolute;
	top: 8%;
	left: 52%;
	width: 461px;
	height: 693px;
}

.instrument3_instructions {
	position: absolute;
	top: 8%;
	left: 76%;
	width: 461px;
	height: 693px;
}

.instrumentc0_instructions {
	position: absolute;
	bottom: 6.8%;
	left: 2%;
	width: 97px;
	height: 92px;
}

.instrumentc1_instructions {
	position: absolute;
	bottom: 6.8%;
	left: 7%;
	width: 97px;
	height: 92px;
}

.instrumentc2_instructions {
	position: absolute;
	bottom: 6.8%;
	left: 12%;
	width: 97px;
	height: 92px;
}

.instrumentc3_instructions {
	position: absolute;
	bottom: 6.8%;
	left: 17%;
	width: 97px;
	height: 92px;
}



/* countdown screen */

.count_countdown {
	position: absolute;
	left: 0%;
	top: 20%;
	width: 100%;
	height: 70%;
	font-family: 'Gotham';
	font-size: 370px;
	text-align: center;
	text-shadow: 20px 20px 20px rgba(0, 0, 0, 0.5);
}



/* game screen */

/*.gameScreen {
	background: url('../gfx/05_MSMX_jogo_3D/05_MSMX_jogo_3D_BG.jpg');
}*/

/*.logo_game {
	background: url('../gfx/05_MSMX_jogo/05_MSMX_jogo_3D_LOGO.png');
	z-index: 22;
}*/

/*.lines_game {
	background: url('../gfx/05_MSMX_jogo_3D/05_MSMX_jogo_3D_linhas.png');
}*/

/*.logo_topleft_smaller {
	position: absolute;
	top: 3%;
	left: 1.5%;
	width: 501px;
	height: 353px;
	background: url('../gfx/Logo_MusicX.png');
	background-size: cover;
}*/

.scoreface_game {
	position: absolute;
	top: 42%;
	left: 9%;
	width: 204px;
	height: 204px;
	background: url('../gfx/smile_red.png');
	background-size: cover;
}

.scoreface_overlay_game {
	position: absolute;
	top: 42%;
	left: 9%;
	width: 204px;
	height: 204px;
	background: url('../gfx/smile_white.png');
	background-size: cover;
    clip: rect(204px, 204px, 204px, 0px);
}

.scorevalue_game {
	position: absolute;
	top: 62%;
	left: 8%;
	width: 10%;
	height: 10%;
	text-align: right;
	font-family: 'Gotham';
	font-size: 30px;
}

.scoremulvalue_game {
	position: absolute;
	top: 61.25%;
	left: 19%;
	width: 10%;
	height: 20%;
	text-align: left;
	font-family: 'Gotham';
	font-size: 40px;
}

.x3 {
	font-size: 42px;
	top: 61.125%;
}

.x4 {
	font-size: 44px;
	top: 61%;
}

.x5 {
	font-size: 46px;
	top: 60.95%;
}

.x6 {
	font-size: 48px;
	top: 60.85%;
}

.x7 {
	font-size: 50px;
	top: 60.75%;
}

.x8 {
	font-size: 52px;
	top: 60.5%;
}

.x9 {
	font-size: 54px;
	top: 60.35%;
}

.x10 {
	font-size: 56px;
	top: 60.15%;
}

.x11 {
	font-size: 58px;
	top: 60%;
}

.x12 {
	font-size: 60px;
	top: 59.85%;
}

.x13 {
	font-size: 62px;
	top: 59.65%;
}

.x14 {
	font-size: 64px;
	top: 59.40%;
}

.x15 {
	font-size: 66px;
	top: 59.20%;
}

.x16 {
	font-size: 68px;
	top: 59%;
}

.x17 {
	font-size: 70px;
	top: 58.80%;
}

.x18 {
	font-size: 72px;
	top: 58.60%;
}


.trackname_game {
	position: absolute;
	bottom: 14%;
	left: 7%;
	width: 12%;
	height: 10%;
	white-space: nowrap;
	text-align: center;
	font-family: 'Gotham';
	font-size: 60px;
}

#triggerline{
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100%;
	z-index: 22;
}

#time {
	color: #ffffff;
	float: right;
}

#importexport {
	float: right;
	z-index: 20;
	color: #ffffff;
}

.instrument0_game {
	position: absolute;
	bottom: 5%;
	left: 31.5%;
	width: 111px;
	height: 109px;
}

.instrument1_game {
	position: absolute;
	bottom: 5%;
	left: 50%;
	width: 111px;
	height: 109px;
}

.instrument2_game {
	position: absolute;
	bottom: 5%;
	left: 67.75%;
	width: 111px;
	height: 109px;
}

.instrument3_game {
	position: absolute;
	bottom: 5%;
	left: 86.25%;
	width: 111px;
	height: 109px;
}



/* result screen */

.resultScreen {
	background: url('../gfx/06_MSMX_resultado_BGb.jpg');
}

.entername_result {
	position: absolute;
	top: 77%;
	left: 10%;
	width: 40%;
	height: 10%;
	font-family: 'Gotham';
	font-size: 20px;
}

.underline_result {
	position: absolute;
	top: 82%;
	left: 10%;
	width: 40%;
	height: 10%;
	font-family: 'Gotham';
	font-size: 60px;
}

#inputbox {
	position: absolute;
	top: 80%;
	left: 10%;
	width: 40%;
	height: 10%;
	font-family: 'Gotham';
	font-size: 60px;
	padding: 0;
    border:0;
    background-color: transparent;
    color: #ffffff;
    z-index: 22;
}

.text_result {
	position: absolute;
	top: 5%;
	left: 24.5%;
	width: 50%;
	height: 10%;
	text-align: center;
	font-family: 'Gotham';
	font-size: 70px;
  	padding: 1em;
  	text-shadow: 0 0 1em black, 0 0 1em black;

}

.image_result {
	position: absolute;
	top: 23%;
	left: 40%;
	width: 504px;
	height: 504px;
	background: url('../gfx/smile_red.png');
	background-size: cover;
}

.image_overlay_result {
	position: absolute;
	top: 23%;
	left: 40%;
	width: 504px;
	height: 504px;
	background: url('../gfx/smile_white.png');
	background-size: cover;
	/*-webkit-animation:bounce 4s;*/
    clip: rect(0px, 504px, 504px, 0px);
}

@-webkit-keyframes bounce {
    from {
        clip: rect(404px, 404px, 404px, 0px);
    }
    to {
        clip: rect(0px, 404px, 404px, 0px);
    }
}

@-moz-keyframes bounce {
    from {
        clip: rect(404px, 404px, 404px, 0px);
    }
    to {
        clip: rect(0px, 404px, 404px, 0px);
    }
}

.value_result {
	position: absolute;
	top: 69%;
	left: 41%;
	width: 20%;
	height: 10%;
	text-align: center;
	font-family: 'Gotham';
	font-size: 60px;
	padding: 1em;
  	text-shadow: 0 0 1em black, 0 0 1em black;
}

.scm_result {
	position: absolute;
	width: 120px;
	height: 120px;
	background: url('../gfx/bolas/symbol.png');
	background-size: cover;
	opacity: 0.5;
}

.scmlit_result {
	position: absolute;
	width: 120px;
	height: 120px;
	background: url('../gfx/bolas/symbol_hit.png');
	background-size: cover;
}


/* ranking screen */

.rankingScreen {
	background: url('../gfx/07_MSMX_ranking_BG_comTextoLogo.jpg');
	font-family: 'Gotham';
}

.title_ranking {
	position: absolute;
	left: 39.5%;
	top: 5.2%;
	width: 50%;
	height: 10%;
	font-family: 'Gotham';
	font-size: 70px;
  	padding: 1em;
  	text-shadow: 0 0 1em black, 0 0 1em black;
}

.names_ranking {
	position: absolute;
	left: 41%;
	width: 40%;
	height: 10%;
	font-family: 'Gotham';
	font-size: 45px;
	white-space: nowrap;
  	overflow: hidden;
  	text-overflow: ellipsis;
  	padding: 1em;
  	text-shadow: 0 0 1em black, 0 0 1em black;	
}

.highlight_names_ranking {
	position: absolute;
	left: 41%;
	width: 40%;
	height: 10%;
	font-family: 'Gotham';
	font-size: 45px;
	white-space: nowrap;
  	overflow: hidden;
  	text-overflow: ellipsis;
  	color: yellow;
  	padding: 1em;
  	text-shadow: 0 0 1em black, 0 0 1em black;
  	-webkit-animation-name:             glow;
    -webkit-animation-duration:         2s;
    -webkit-animation-iteration-count:  infinite;
    -webkit-animation-timing-function:	ease-in-out;
	-moz-animation-name:             glow;
    -moz-animation-duration:         2s;
    -moz-animation-iteration-count:  infinite;
    -moz-animation-timing-function:	ease-in-out;
}

.results_ranking {
	position: absolute;
	left: 85%;
	top: 20%;
	width: 10%;
	height: 10%;
	font-family: 'Gotham';
	font-size: 45px;
  	padding: 1em;
  	text-shadow: 0 0 1em black, 0 0 1em black;
}

.highlight_results_ranking {
	position: absolute;
	left: 85%;
	top: 20%;
	width: 10%;
	height: 10%;
	font-family: 'Gotham';
	font-size: 45px;
	color: yellow;
  	padding: 1em;
  	text-shadow: 0 0 1em black, 0 0 1em black;
  	-webkit-animation-name:             glow;
    -webkit-animation-duration:         2s;
    -webkit-animation-iteration-count:  infinite;
    -webkit-animation-timing-function:	ease-in-out;
	-moz-animation-name:             glow;
    -moz-animation-duration:         2s;
    -moz-animation-iteration-count:  infinite;
    -moz-animation-timing-function:	ease-in-out;	
}

.songname_ranking {
	position: absolute;
	left: 68%;
	top: 20%;
	width: 15%;
	height: 10%;
	text-align: right;
	font-family: 'Gotham';
	font-size: 45px;
  	padding: 1em;
  	color: grey;
  	text-shadow: 0 0 1em black, 0 0 1em black;
}

.highlight_songname_ranking {
	position: absolute;
	left: 68%;
	top: 20%;
	width: 15%;
	height: 10%;
	text-align: right;	
	font-family: 'Gotham';
	font-size: 45px;
	color: yellow;
  	padding: 1em;
  	text-shadow: 0 0 1em black, 0 0 1em black;
  	-webkit-animation-name:             glow;
    -webkit-animation-duration:         2s;
    -webkit-animation-iteration-count:  infinite;
    -webkit-animation-timing-function:	ease-in-out;
	-moz-animation-name:             glow;
    -moz-animation-duration:         2s;
    -moz-animation-iteration-count:  infinite;
    -moz-animation-timing-function:	ease-in-out;	
}

@-webkit-keyframes glow {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0.2;
	}
	100% {
		opacity: 1;
	}
}

@-moz-keyframes glow {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0.2;
	}
	100% {
		opacity: 1;
	}
}
